name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install flask requests pytest

      - name: Run application
        run: |
          python app/main.py &
          sleep 5

      - name: Run tests
        run: pytest tests/
